body {
  font-size: 16px;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Outfit";
  margin: 0;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 678px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f3e5d7;
  }
  .container {
    width: 736px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 24px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}
.page-header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
.page-header__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header__image {
  width: 100vw;
}

@media (min-width: 678px) {
  .page-header {
    width: 656px;
    height: 300px;
  }
  .page-header__image {
    width: 656px;
    height: 300px;
    border-radius: 12px;
  }
}
.main-page {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 32px;
}
.main-page__overlay {
  min-width: 311px;
}
.main-page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Young Serif";
  font-weight: 400;
  margin: 0;
  color: #312e2c;
  font-size: 36px;
  margin-bottom: 24px;
}
.main-page__text {
  color: #5f564d;
  margin: 0;
}

@media (min-width: 678px) {
  .main-page {
    width: 656px;
  }
}
.preparation {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 32px;
}
.preparation__overlay {
  background-color: #fff7fb;
  border-radius: 12px;
  padding: 24px;
}
.preparation__title {
  min-width: 263px;
  margin: 0;
  font-size: 20px;
  color: #7a284e;
  margin-bottom: 16px;
}
.preparation__list {
  width: 263px;
  margin: 0;
  padding-left: 24px;
}
.preparation__item {
  width: 223px;
  padding-bottom: 8px;
  color: #5f564d;
}
.preparation__item::marker {
  color: #7a284e;
}
.preparation__item--bold {
  font-weight: bold;
  margin-right: 5px;
}

@media (min-width: 678px) {
  .preparation {
    width: 656px;
  }
  .preparation__overlay {
    padding: 28px;
  }
  .preparation__list {
    width: 600px;
  }
  .preparation__item {
    width: 560px;
    -webkit-padding-start: 8px;
            padding-inline-start: 8px;
    height: 30px;
    padding-bottom: 0;
  }
}
.igredients {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 32px;
}
.igredients__container {
  min-width: 311px;
}
.igredients__title {
  font-family: "Young Serif";
  font-weight: 400;
  color: #854632;
  margin: 0;
  margin-bottom: 24px;
}
.igredients__list {
  padding-left: 24px;
  margin: 0;
}
.igredients__item {
  color: #5f564d;
  padding-left: 16px;
}
.igredients__item::marker {
  color: #854632;
}

@media (min-width: 678px) {
  .igredients {
    width: 656px;
  }
  .igredients__list {
    height: 152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.line {
  min-width: 311px;
  background-color: #e3ddd7;
  height: 1px;
  border: 0;
  margin-bottom: 32px;
  margin-top: 0;
  margin-left: 32px;
  margin-right: 32px;
}

@media (min-width: 678px) {
  .line {
    width: 656px;
  }
}
.instructions {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 32px;
}
.instructions__overlay {
  min-width: 311px;
}
.instructions__title {
  font-family: "Young Serif";
  font-weight: 400;
  margin: 0;
  color: #854632;
  margin-bottom: 24px;
}
.instructions__list {
  margin: 0;
  min-width: 311px;
  -webkit-padding-start: 16px;
          padding-inline-start: 16px;
  -webkit-margin-start: 8px;
          margin-inline-start: 8px;
}
.instructions__item {
  padding-right: 24px;
  padding-left: 16px;
  min-width: 271px;
  color: #5f564d;
}
.instructions__item::marker {
  color: #854632;
  font-weight: bold;
}
.instructions__item--bold {
  font-weight: bold;
  padding: 0;
  padding-right: 5px;
}

@media (min-width: 678px) {
  .instructions {
    width: 656px;
  }
  .instructions__list {
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-padding-start: 8px;
            padding-inline-start: 8px;
  }
  .instructions__item {
    width: 616px;
  }
}
.nutrition {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 40px;
}
.nutrition__overlay {
  min-width: 311px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nutrition__title {
  margin: 0;
  font-family: "Young Serif";
  font-weight: 400;
  color: #854632;
  margin-bottom: 24px;
}
.nutrition__text {
  margin: 0;
  color: #5f564d;
  margin-bottom: 24px;
}
.nutrition__table {
  border-collapse: collapse;
  height: 124px;
}
.nutrition__row {
  min-width: 311px;
}
.nutrition__table__data {
  color: #5f564d;
  padding-left: 32px;
  padding-right: 16px;
  min-width: 115.5px;
  border-bottom: 1px solid #e3ddd7;
}
.nutrition__table__data--bold {
  color: #854632;
  font-weight: bold;
  padding-left: 0;
  padding-right: 32px;
}

.last-row {
  border: 0px solid #e3ddd7;
}

@media (min-width: 678px) {
  .nutrition {
    width: 656px;
  }
  .nutrition__table {
    height: 168px;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */