.nutrition {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 40px;
  &__overlay {
    min-width: 311px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    margin: 0;
    font-family: $secondaryFontFamily;
    font-weight: 400;
    color: $neutralColorBrandyRed;
    margin-bottom: 24px;
  }
  &__text {
    margin: 0;
    color: $neutralColorWengeBrown;
    margin-bottom: 24px;
  }
  &__table {
    border-collapse: collapse;
    height: 124px;
  }
  &__row {
    min-width: 311px;
  }
  &__table__data {
    color: $neutralColorWengeBrown;
    padding-left: 32px;
    padding-right: 16px;
    min-width: 115.5px;
    border-bottom: 1px solid $neutralColorWhiteCoffee;
  }
  &__table__data--bold {
    color: $neutralColorBrandyRed;
    font-weight: bold;
    padding-left: 0;
    padding-right: 32px;
  }
}
.last-row {
  @include removeBorderBottom(0px);
}
@media (min-width: 678px) {
  .nutrition {
    width: 656px;
    &__table {
      height: 168px;
    }
  }
}
