$primaryBackgroundColorEggshell: #f3e5d7;
$secondaryFontFamily: 'Young Serif';
$primaryFontFamily: 'Outfit';
$primaryColorDarkRaspberry: #7a284e;
$neutralColorWhite: #ffffff;
$neutralColorWhiteCoffee: #e3ddd7;
$neutralColorWengeBrown: #5f564d;
$neutralColorDarkCharcoal: #312e2c;
$neutralColorBrandyRed: #854632;
$neutralColorSnow: #fff7fb;
